body{
 /* background-color: #121212; */
  margin: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');
nav{
  background-color: #535353;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-inline: 20px;
}

nav a{
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-family: 'Merriweather', serif;
  padding: 15px;
  width: auto;
}

nav ul{
  list-style: none;
  display: flex;
  padding: 0px;
}
nav a:hover{
  background-color: #212121;
}