body{
 
        background-color: #121212;
        height: 100vh;
    
}
.BodyForRandom{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    flex-direction: column;
}
.BodySearch{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
    padding-block: 50px;
}
.Inputs{
    padding: 10px;
    font-Size: 16px;
    border-Radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
}
.OptionsBox{
    background-color: rgb(251, 250, 250);
    padding: 10px;
    font-size: 16px;
    margin-right: 0px;
    width: 320px;
}

.InputBox{
    width: 300px;
    position: relative;
}
.icon{
    position: absolute;
    top:2px;
    right: -20px;
    padding: 10px;
    background-color: rgb(251, 251, 251);
    border-left: 2px black solid;
    width: 50px;
}




