body{
    background-color: #121212;
    height: 100vh;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');
.TrendingBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
    gap: 15px;
    padding-block: 50px;
    margin-top: 25px;
  }

  
  .BodySearch{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .Items {
    height: 450px;
    width: 300px;
    position: relative;
  }

  .Items img {
    width: 300px;
    height: 450px;
    position: relative;
  }
  
   .Description{
    width: 250px;
    height: 400px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 2), rgba(0, 0, 0, .75), rgba(0, 0, 0, 1.5));
    position:absolute;
    top: 0px;
    display: none;
  }
  

  .Effect{
    width: 300px;
    height: 450px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5), transparent 60%, rgba(0, 0, 0, 1));
    position:absolute;
    top: 0px;
  }





  .Items:hover .Description{
       display: flex;
       justify-content: center;
       align-items: center;
       text-align: center;
       font-size: 1rem;
       color: white;
       font-family: 'Roboto Condensed', sans-serif;
       padding: 25px;
       overflow: hidden;
  }


.Type{
    position: absolute;
    top: 0px;
    right: 20px;
    z-index: 1;
    font-size: 1.5rem;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}
.Rank{
    position: absolute;
    top: 0px;
    left: 20px;
    z-index: 1;
    font-size: 1.5rem;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

  .Title{
    font-size: 1.5rem;
    position: absolute;
    bottom: 0px;
    color: white;
    left: 20px;
    background-color: transparent;
    z-index: 2;
    font-family: 'Roboto Condensed', sans-serif;
  }